body {
font-family: 'Oswald', sans-serif;
}
h1 {
font-family: 'Oswald', sans-serif;
font-size: 20pt;
}
h2.header {
font-family: 'Roboto', sans-serif;
font-size: 18pt;
}
img {
  width: 400px;
}

img.img-fluid {
  width: 1000px;
}

.alert {font-family: 'Oswald', sans-serif;
font-size: 15pt;
}

p {font-family: 'Oswald', sans-serif;
font-size: 15pt;
}
